{% extends 'inside/base.html'%}
{% load static %}



{% block content%}
    <div class="container">
        <div class="jumbotron shadow-lg" style="background-color: rgb(238,133,9);filter: blur(0px);">
            <h1 class="text-center" style="color: whitesmoke;filter: blur(0px);"><i class="fas fa-info    "></i> About PlentyPot.....</h1>
            <p class="lead shadow-lg" style="color: whitesmoke;margin-top: 21px;font-size: 21px;">PlentyPot is a local business locating web app developed to help give small to medium enterprises a web presence beyond typical social media platforms. We help potential customers find products and services around them at a click of a button.
                We pride ourselves in giving businesses the 4IR technologies they need to stay on top of their game in this fast changing Technological industrial we are in at the lowest cost possible.</p>
            <p></p>
        </div>

        <div class="text-center justify-content-center mb-4" style="width: 100%;height: 100%;">
                <h1 class="text-center" style="background:rgb(238,133,9); color:white">For Businesses <i class="fas fa-suitcase    "></i></h1>
                <hr>
                <div class="text-center d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                ;">
                    <div class="rounded-circle" style="width: 200px;height: 200px;background-image:url('{% static 'abouticons/settings.png' %}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                </div>
                <h1>Easy to set up <i class="fas fa-screwdriver    "></i></h1>
                <p>Set up and manage your website content easily, no programming needed. Pre built templates waiting for you to style, hussle free</p>
        </div>

            <div class="text-center justify-content-center mb-4 mt-4" style="width: 100%;height: 100%;">

                    <div class="text-center  d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                    ;">
                        <div class=" rounded-circle" style="width: 200px;height: 200px;background-image:url('{% static 'abouticons/www.png' %}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                    </div>
                    <h1>Web presence <i class="fas fa-globe    "></i></h1>
                    <p>Gives your business the web presence it deserves,beyond social media platforms</p>
            </div>

            <div class="text-center justify-content-center mb-4 mt-4" style="width: 100%;height: 100%;">

                    <div class="text-center  d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                    ;">
                        <div class=" rounded-circle" style="width: 200px;height: 200px;background-image: url('{% static 'abouticons/dollar-symbol.png' %}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                    </div>
                    <h1>Cost Effective <i class="fas fa-money-bill-wave    "></i></h1>
                    <p>Without having to pay for expensive servers or maintenance you dont even need, you reduce the cost of running a website drastically</p>
            </div>

            <div class="text-center justify-content-center mb-4 mt-4" style="width: 100%;height: 100%;">

                    <div class="text-center  d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                    ;">
                        <div class=" rounded-circle" style="width: 200px;height: 200px;background-image: url('{% static 'abouticons/placeholder.png' %}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                    </div>
                    <h1>Free Location Services <i class="fas fa-location-arrow"></i></h1>
                    <p>Use our tools to help potential customers locate your business</p>
            </div>

            <div class="text-center justify-content-center mb-4 mt-4" style="width: 100%;height: 100%;">

                    <div class="text-center  d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                    ;">
                        <div class=" rounded-circle" style="width: 200px;height: 200px;background-image: url('{% static 'abouticons/graph.png' %}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                    </div>
                    <h1>Data Driven Decisions <i class="fas fa-chart-line    "></i></h1>
                    <p>use your unique data driven dashboard optimized to help you make operational, tactical and strategic decisions using your customers data to better serve their needs and wants cost effectively</p>
            </div>

            <hr>

            <div class="text-center justify-content-center mb-4" style="width: 100%;height: 100%;">
                    <h1 class="text-center" style="background:rgb(238,133,9) ;color:white">For Customers <i class="fas fa-shopping-cart   "></i></h1>
                    <hr>
                    <div class="text-center d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                    ;">
                        <div class="rounded-circle" style="width: 200px;height: 200px;background-image: url('{% static 'abouticons/placeholder.png' %}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                    </div>
                    <h1>Locate businesses Around You <i class="fas fa-location-arrow   "></i></h1>
                    <p>Find the best businesses around you</p>
            </div>

            <div class="text-center justify-content-center mb-4 mt-4" style="width: 100%;height: 100%;">

                    <div class="text-center  d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                    ;">
                        <div class=" rounded-circle" style="width: 200px;height: 200px;background-image: url('{% static 'abouticons/bubble-speech.png'%}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                    </div>
                    <h1>Reviews <i class="fas fa-star   "></i><i class="fas fa-star   "></i></h1>
                    <p>Use other customers reviews and comments as guidelines to help you make the right decisions about your next purchase</p>
            </div>

            <div class="text-center justify-content-center mb-4 mt-4" style="width: 100%;height: 100%;">

                    <div class="text-center  d-flex justify-content-center" style="width: 100%;height: 100%;background-color: white
                    ;">
                        <div class=" rounded-circle" style="width: 200px;height: 200px;background-image: url('{% static 'abouticons/sale-tag.png'%}');background-position: center;background-size: cover;background-repeat: no-repeat;"></div>
                    </div>
                    <h1>Sales and Deals <i class="fas fa-shopping-bag    "></i></h1>
                    <p>Find out which local business has products on specials or on sales</p>
            </div>


            <div class="text-center">Icons made by <a class="text-center" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

{%endblock content%}
