{% extends 'inside/base.html' %}




{% block content%}
<div class="container">

    <div class="jumbotron" style="background:olive;color:white">
            <h1 class="display-3 shadow-lg p-3 mb-5 " >Recommend <i class="fas fa-volume-up    "></i></h1>

            <h5 style="color:white">Wanna Make quick money?Create an account then recommend our app to local businesses around you and get 40% of *their* monthly subscription fees cash in your bank account.There is no limit to the number of businesses you can recommend, as long as they can confirm that you are the one that recommended the app through email or text.
                To claim you reward, call or send us a text on the following numbers 071 782 2959 and our consultant will varify whether the recommended business has paid their activation fee and whether they were recommended by you!</h5>
            <hr class="my-2">

        </div>
</div>

{% endblock content%}
