<div class="scrollcontainer">
    <h1 class="text-center pt-3" style="color:white">Resident Djs</h1>
    <hr>


    <div class="row justify-content-around pt-5 pb-5 mx-auto">
        <div class="col-lg-3 text-center">
            <div class="shadow rounded-circle mt-3 mx-auto"
                style="height: 200px;width: 200px;margin-right: 0px;margin-left: 5px;background-image: url('{{ homedata.ResDjs1.url }}'); background-repeat: no-repeat; background-size: cover;background-position: center;">
            </div>
            <h2 style="color: white;">{{ homedata.Resdj1name }}</h2>
            <p style="color: white;">{{ homedata.Resdj1pro }}</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <div class="shadow rounded-circle mt-3 mx-auto"
                style="height: 200px;width: 200px;margin-right: 0px;margin-left: 5px;background-image: url('{{ homedata.ResDjs2.url }}'); background-repeat: no-repeat; background-size: cover;background-position: center;">
            </div>
            <h2 style="color: white;">{{ homedata.Resdj2name }}</h2>
            <p style="color: white;">{{ homedata.Resdj2pro }}</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <div class="shadow rounded-circle mt-3 mx-auto"
                style="height: 200px;width: 200px;margin-right: 0px;margin-left: 5px;background-image: url('{{ homedata.ResDjs3.url }}'); background-repeat: no-repeat; background-size: cover;background-position: center;">
            </div>
            <h2 style="color: white;">{{ homedata.Resdj3name }}</h2>
            <p style="color: white;">{{ homedata.Resdj3pro }}</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <div class="shadow rounded-circle mt-3 mx-auto"
                style="height: 200px;width: 200px;margin-right: 0px;margin-left: 5px;background-image: url('{{ homedata.ResDjs4.url }}'); background-repeat: no-repeat; background-size: cover;background-position: center;">
            </div>
            <h2 style="color: white;">{{ homedata.Resdj4name }}</h2>
            <p style="color: white;">{{ homedata.Resdj4pro }}</p>
        </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->




</div>