<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Plentypot</title>
</head>

<body>
    <style>
        body {
            background-color: rgb(0, 0, 0);
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .banner {
            background-image: url('{{ eventsdata.MainEventpic.url }}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 350px;
            width: 100%;
        }

        .textover {
            position: relative;
            text-align: center;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{ business.business_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'clubhome' name=business.business_name %}">Home<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'clubevents' name=business.business_name %}">Events</a>
                <a class="nav-item nav-link" href="{% url 'clubtonight' name=business.business_name %}">Tonight</a>
                
                <a class="nav-item nav-link" href="{% url 'clubcontacts' name=business.business_name %}">Contact</a>

            </div>
        </div>
    </nav>




    <div class="textover">
        <div class="banner shadow-lg"></div>
        <h1 class="centered text-white">{{ eventsdata.name_of_main_event }}</h1>

    </div>

    <div class="container mt-3 mb-4">
        <h1 class="text-center text-white shadow-lg">Upcoming Events</h1>
        <hr>


        <div class="card-deck mt-3">
            <div class="card shadow-lg text-white bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="{{ eventsdata.upcomming_event1.url }}" class="card-img-top embed-responsive-item"
                        alt="...">
                </div>
                <a class="btn btn-danger" href="{{ eventsdata.upcomming_event1.url }}">full picture</a>
            </div>

            <div class="card shadow-lg text-white bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="{{ eventsdata.upcomming_event2.url }}" class="card-img-top embed-responsive-item"
                        alt="...">
                </div>
                <a class="btn btn-danger" href="{{ eventsdata.upcomming_event2.url }}">full picture</a>
            </div>

            <div class="card shadow-lg text-white bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="{{ eventsdata.upcomming_event3.url }}" class="card-img-top embed-responsive-item"
                        alt="...">
                </div>
                <a class="btn btn-danger" href="{{ eventsdata.upcomming_event3.url }}">full picture</a>
            </div>
        </div>



        <div class="card-deck mt-3">
            <div class="card shadow-lg text-white bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="{{ eventsdata.upcomming_event4.url }}" class="card-img-top embed-responsive-item"
                        alt="...">
                </div>
                <a class="btn btn-danger" href="{{ eventsdata.upcomming_event4.url }}">full picture</a>
            </div>

            <div class="card shadow-lg text-white bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="{{ eventsdata.upcomming_event5.url }}" class="card-img-top embed-responsive-item"
                        alt="...">
                </div>
                <a class="btn btn-danger" href="{{ eventsdata.upcomming_event5.url }}">full
                    picture</a>
            </div>

            <div class="card shadow-lg text-white bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="{{ eventsdata.upcomming_event6.url }}" class="card-img-top embed-responsive-item"
                        alt="...">
                </div>
                <a class="btn btn-danger" href="{{ eventsdata.upcomming_event6.url }}">full
                    picture</a>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>